<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<head>
  <title>数学题入库</title>
  <!-- 個別CSS読込 -->
  <link rel="stylesheet" th:href="@{/css/study/list.css}">
</head>
<body>

<div layout:fragment="content">
   <div class="header border-bottom">
    <h1 class="h2">数学题入库</h1>
   </div>
    <form action="mathupload" method="post" enctype="multipart/form-data">
    <div class="form-group">

       <b></b> <p th:text="${msg}"></p></b>
        <br/>
        <br/>
        <label class="control-label" for="questionarea">试题</label>
<!--        <textarea rows="3" cols="80" class="form-control" id="questionarea" name="questionarea" th:field="*{questionArea}"></textarea>-->
        <textarea rows="7" cols="80" class="form-control" id="questionarea" name="questionarea" ></textarea>
        <br/>
       <textarea rows="3" cols="80" class="form-control" id="answer" name="answer" ></textarea>
        <br/>
        图片
        <input type="file" name="image">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <input type="submit" name="提交">
    </div>
    </form>

</div>
</body>
</html>